<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269076171684-v1fclggpmfqa8av5ckg9n3v2ls3mm95h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269076171684-v1fclggpmfqa8av5ckg9n3v2ls3mm95h</string>
	<key>API_KEY</key>
	<string>AIzaSyCyJqbtk6JCZrvjUuTHIWQif8NEz4AQHwU</string>
	<key>GCM_SENDER_ID</key>
	<string>269076171684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.happimess.Donor</string>
	<key>PROJECT_ID</key>
	<string>donor-164421</string>
	<key>STORAGE_BUCKET</key>
	<string>donor-164421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:269076171684:ios:a5979511ce16b42c</string>
	<key>DATABASE_URL</key>
	<string>https://donor-164421.firebaseio.com</string>
</dict>
</plist>